
body {
    font-family: Verdana, Geneva, sans-serif
    background-color: purple;
}
h1 {
    font-weight: 700;
    font-size: 25px;
    color: orange; 
    text-align: left;

}
h2:nth-child(3n+2),
h5:nth-child(3n+2),
h8:nth-child(3n+2),
h11:nth-child(3n+2),
h14:nth-child(3n+2),
h17:nth-child(3n+2),
h20:nth-child(3n+2) {
    font-weight: 600;
    font-size: 16px;
}
h3:nth-child(3n), h4:nth-child(3n), h6:nth-child(3n), h7:nth-child(3n), h9:nth-child(3n), h10:nth-child(3n), h12:nth-child(3n), h13:nth-child(3n), h15:nth-child(3n), h16:nth-child(3n), h18:nth-child(3n), h19:nth-child(3n), h21:nth-child(3n), h22:nth-child(3n) {
    font-weight: 500;
    font-size: 12px;
}



